extends layout/base

block content
  h1.fs-4.bg-info.border-top.border-start.border-end.border-primary.rounded-top.mb-0.p-2 See what people are saying.
  form.mb-3(method="get")
    .input-group
      if filter
        input(type="hidden" name="filter" value=filter)
      input#search.form-control.text-center(
        name="search"
        placeholder="Search honks"
        aria-label="Search honks"
        value=search ? search : ""
        style={ paddingLeft: "3.375rem", borderTopLeftRadius: 0 }
      )
      button.btn.btn-primary(type="submit" aria-label="Search" style={ width: "2.625rem", borderTopRightRadius: 0 })
        i.bi.bi-search
  if currentUser.isAuthenticated
    nav.nav.nav-pills.nav-justified
      a.nav-link.rounded-0.rounded-top(
        href="/honks" + (search ? ("?search=" + search) : "")
        class={
          active: filter !== "followed_users"
        }
      ) All honks
      a.nav-link.rounded-0.rounded-top(
        href="/honks?filter=followed_users" + (search ? ("&search=" + search) : "")
        class={
          active: filter === "followed_users"
        }
      ) People I follow
  .card.bg-info.border-primary.rounded-0.rounded-bottom
    .card-body
      if honks.total > 0
        each honk in honks.items
          .card.text-start.mb-3
            .card-body
              h5.card-title
                a.text-decoration-none(href="/user/" + honk.user.id)= "@" + honk.user.username
                | 
                span.text-muted &bullet; #{format(honk.createdAt, "yyyy-MM-dd")}
              p.card-text= honk.content
        nav(aria-label="Page navigation")
          ul.pagination.justify-content-center.mb-0
            each page in honks.pages
              if page
                li(class={
                  "page-item": true,
                  active: page === honks.page,
                })
                  a.page-link(href="/honks?page="
                    + page
                    + (filter ? ("&filter=" + filter) : "")
                    + (search ? ("&search=" + search) : "")
                  )= page
              else
                li.page-item
                  span.page-link &ctdot;
      else
        p.card-text No honks to show.
